.wrapper {
  border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #eceff4;
  background: #f3f4fd;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 7px;
}
.box {
  color: #6a6d95;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 114.286%;
  letter-spacing: 0.3px;
  padding: 8px 12px;
  cursor: pointer;
  white-space: nowrap;
}
.activeBox {
  border-radius: 8px;
  background: var(--others-white, #fff);
  box-shadow: 0px 6px 10px 0px rgba(14, 19, 79, 0.12);
  color: #2f39bf;
}
