.billingAndInvoice {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  border-radius: 20px;
  border: 1px solid rgba(169, 172, 204, 0.24);
  background: #fff;
  box-shadow: 0px 14px 20px -8px rgba(60, 64, 114, 0.06);
  padding: 12px;
  width: 100%;
}
.heading {
  color: rgba(14, 19, 79, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 122.222%;
  letter-spacing: 0.2px;
  padding-left: 15px;
}
@media only screen and (max-width: 520px) {
  .header {
    flex-direction: column;
    padding: 20px 12px;
  }
}
