.labelAndwrapper {
  display: flex;
  flex-direction: column;

  width: 100%;
  gap: 6px;
}

.label {
  color: rgba(60, 64, 114, 0.8);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 166.667%;
  letter-spacing: 0.2px;
  position: relative;
}
.label::after {
  content: "*";

  color: rgba(227, 32, 32, 0.8);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 114.286%;
  position: absolute;
  top: 60%;
  right: -15px;
  transform: translateY(-50%);
}
.regionSelectionContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
}
.regionSelection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 18px 8px;
  border-radius: 12px;
  background: #eef0fa;
  cursor: pointer;
  border: 2px solid #eef0fa;
}
.selectedRegion {
  border: 2px solid #2f39bf;
}
.regionName {
  color: #979ab7;
  text-align: center;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.2px;
}
.flagContainer {
  padding: 12px 6px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.flag {
  width: 48px;
}
.selectedRegion .regionName {
  color: #2f39bf;
}
.selectedRegion .flagContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  background: #fff;
  box-shadow: 0px 8px 12px 0px rgba(14, 19, 79, 0.08);
}
@media only screen and (max-width: 1500px) {
  .regionSelectionContainer {
    gap: 10px;
  }
}
@media only screen and (max-width: 1080px) {
  .regionSelectionContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (max-width: 991px) {
  .regionSelectionContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 767px) {
  .regionSelectionContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (max-width: 580px) {
  .regionSelectionContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 380px) {
  .regionSelectionContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
