.peroFormanceContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.header {
  border-radius: 12px;
  background: #fff;
  padding: 12px;
  filter: drop-shadow(0px 8px 14px rgba(14, 19, 79, 0.1));
}
.header,
.performanceBox {
  border-radius: 12px;
  background: #fff;
  filter: drop-shadow(0px 8px 14px rgba(14, 19, 79, 0.1));
}
.header {
  display: grid;
  grid-template-columns: auto 110px 1fr;
  align-items: center;
  gap: 8px;
}
.button {
  color: #534702;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 114.286%;
  letter-spacing: 0.3px;
  border-radius: 10px;
  background: #fdf0a1;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 16px 12px;
  transition: 0.3s;
}
.restartButton {
  background: rgb(253, 240, 161);
  color: rgb(56, 48, 3);
}
.restartButton:hover {
  background: rgb(233, 220, 121);
  color: rgb(56, 48, 3);
}
.enableFlexibleIp {
  color: #2f39bf;
  background: #e1e3f7;
}
.enableFlexibleIp:hover {
  color: #404080;
  background: #c1c3f7;
}

@media only screen and (max-width: 1080px) {
  .header {
    grid-template-columns: auto 1fr 1fr;
  }
}
@media only screen and (max-width: 767px) {
  .header {
    grid-template-columns: auto 1fr;
  }
  .enableFlexibleIp {
    grid-column: 1/-1;
  }
}
@media only screen and (max-width: 520px) {
  .header {
  }
}
