.titleAndTagline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  padding-bottom: 15px;
}

.title {
  color: rgba(60, 64, 114, 0.8);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 166.667%;
  letter-spacing: 0.2px;
  position: relative;
}
.title::before {
  content: "*";

  color: rgba(227, 32, 32, 0.8);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 114.286%;
  position: absolute;
  top: 60%;
  right: -15px;
  transform: translateY(-50%);
}
.tagline {
  color: rgba(148, 150, 176, 0.8);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 166.667%;
  letter-spacing: 0.2px;
}
.tableContainer {
  padding-bottom: 5px;
  overflow-x: auto;
  border-radius: 14px;
}

.table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.heading,
.item {
  text-align: left;
  padding: 18px 12px;
  background: #eaecf9;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  white-space: nowrap;
}
.firstItemContainer {
  width: 30px;
}
.firstItem {
  padding: 20px 10px;
  padding-left: 18px;
}
.item {
  margin-top: 12px;
}
.selectedHosting .item {
  border-top: 2px solid #2f39bf;
  border-bottom: 2px solid #2f39bf;
  position: relative;
  z-index: 2;
}
.selectedHosting .item::before {
  content: " ";
  position: absolute;
  width: calc(100% + 0.5px);
  height: calc(100% - 12px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  z-index: -1;
}
.firstHeading,
.firstItem {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border-left: 2px solid transparent;
}
.selectedHosting .firstItem {
  border-left: 2px solid #2f39bf;
}
.selectedHosting .firstItem::before {
  width: calc(100% - 8px);
  height: calc(100% - 10px);
  right: 0;
  left: auto;
  transform: translate(0, -50%);
  border: none;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.lastHeading,
.lastItem {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  padding-right: 18px;
  border-right: 2px solid transparent;
}

.selectedHosting .lastItem {
  border-right: 2px solid #2f39bf;
}
.selectedHosting .lastItem::before {
  width: calc(100% - 8px);
  height: calc(100% - 10px);
  left: 0;

  transform: translate(0, -50%);
  border: none;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.heading {
  color: #979ab7;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.2px;
  text-transform: uppercase;
}
.item {
  color: rgba(14, 19, 79, 0.9);
  font-kerning: none;
  font-feature-settings: "calt" off;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 114.286%;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}
.currency {
  opacity: 0.9;
  color: rgba(14, 19, 79, 0.4);
}
.subItem {
  opacity: 0.5;
  color: #0e134f;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}
@media only screen and (max-width: 767px) {
  .item {
    font-size: 12px;
    padding: 13px 12px;
  }
  .firstItem {
    padding: 14px 10px;
    padding-left: 18px;
  }
  .heading {
    padding: 13px 12px;
  }
}
/* Firefox */
.tableContainer {
  scrollbar-width: thin;
  scrollbar-color: #2f39bf rgba(250, 250, 250, 0.2);
  border-radius: 5px;
}

/* Chrome, Edge, and Safari */
.tableContainer::-webkit-scrollbar {
  height: 3px;
  border-radius: 5px;
}

.tableContainer::-webkit-scrollbar-track {
  background: rgba(250, 250, 250, 0.2);
  border-radius: 5px;
}

.tableContainer::-webkit-scrollbar-thumb {
  background: #2f39bf;
  border-radius: 100vh;
  border: none;
  border-radius: 5px;
}
